* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#optionNav {
  position: absolute;
  left: 35%;
  gap: 15px;
}

#navBarPos {
  position: sticky;
}

#btnPosition {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;

  position: absolute;
  right: 20px;
}

#rightContainer {
  position: relative;
}

#imgContainer {
  position: absolute;
  bottom: -100px;
}

#imgDetails1 {
  position: absolute;
  bottom: 345px;
  right: 420px;
}

#imgDetails2 {
  position: absolute;
  top: 360px;
  left: 380px;
}

#headerJpg {
  width: 500px;
  margin-left: auto;
}

.iconsMain {
  background-color: #2ad167;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  gap: 100px;
}

#iconsMainSize {
  width: 300px;
}

#marginMain {
  margin-top: 200px;
}

#marginArticle {
  margin-top: 130px;
}

#sectionMargin {
  margin-top: 30px;
}

.customList {
  list-style-type: none;
}

.customList li:before {
  content: "\2713";
  background-color: #2ad167;
  border-radius: 50%;
  color: white;
  padding: 2px 4px;
  margin-right: 5px;
  font-size: 10px;
  border: 1px solid #187c3d;
}

#price {
  margin-top: 80px;
}

#whiteLogo {
  width: 95px;
  height: 32px;
  margin-top: 65px;
}

footer {
  background-color: #2a3342;
  height: 300px;
}

.customListFooter li {
  display: inline;
  color: rgb(172, 165, 165);
}

.customListFooter {
  gap: 45px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.hrFooter {
  color: rgb(172, 165, 165);
  margin-bottom: 50px;
}

.textFooter {
  color: rgb(172, 165, 165);
}